main {
    width: 80%;
    min-width: 300px;
    max-width: 1200px;
    margin: 20px auto 0px auto;
}

main>section {
    border: 5px outset;
}

#text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: -2px 2px 5px 5px rgba(0, 0, 0, 0.363);
}

#description {
    font-size: 20px;
    text-align: center;
}

#control-panel {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

.button-container {
    width: 40%;
    text-align: center;
    text-transform: capitalize;
}

.button-container label {
    font-weight: bolder;
}

.picker {
    display: block;
    margin: auto;
    width: 80%;
    height: 50px;
}

aside {
    background-color: #020003;
}

#reaction-contrast {
    display: block;
    margin: auto;
    width: 300px;
    height: 250px;
}

@media screen and (min-width: 1000px) {
    
    main {
        display: flex;
        background-color: rgb(123, 193, 202);
    }

    main>section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 60%;
        padding: 0px 20px;
    }

    #text-box {
        padding: 30px;
    }
    
    #description {
        font-size: 25px;
    }
    
    #control-panel {
        margin: 0px;
    }
    
    .button-container {
        width: 15%;
    }

    aside {
        border: 5px outset;
        width: 40%;
    }

    #reaction-contrast {
        height: 350px;
    }
}