* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    min-height: 100vh;
    background-color: powderblue;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: right;
}

#copyright {
    padding: 10px 10px;
    text-transform: capitalize;
}